.gameRow {
  display: flex;
  flex-direction: row;
}

.gameColumn {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 10px;
}

.gameColumn:hover {
  background-color: grey;
}

.gameDisplayStyle {
  display: flex;
}

.nextPiece {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 20px;
}

.piece p {
  font-size: 36px;
  margin-top: 20px;
  overflow-wrap: break-word;
}

.selected {
  background-color: lightcoral;
}

.lastHighlighted {
  border: 3px solid darkblue;
}
